* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper {
  background-color: aquamarine;
  width: 100%;
  height: 130px;
}

.top-header-wrapper {
  background-color: blueviolet;
  width: 100%;
  height: 90px;
}

.top-header-content {
  background-color: mediumorchid;
  width: 80%;
  height: 90px;
  margin: auto;
  padding: 10px;
}

.top-header-content p {
  font-size: 50px;
}

.bottom-header-wrapper {
  background-color: whitesmoke;
  width: 100%;
  height: 40px;
}

.bottom-header-content {
  background-color: lightskyblue;
  width: 80%;
  height: 40px;
  margin: auto;
}

.middle-body-wrapper {
  background-color: lightslategrey;
  width: 100%;
  height: 600px;
  padding: 20px 0 20px 0;
}

.middle-body-content {
  background-color: lightyellow;
  width: 80%;
  height: 560px;
  margin: auto;
}

.footer-wrapper {
  background-color: wheat;
  width: 100%;
  height: 32px;
}

.footer-content {
  background-color: lightgoldenrodyellow;
  width: 80%;
  height: 32px;
  margin: auto;
}
